#chat-group-users.chat-group-user.clearfix.js-chat-member
  = current_user.name
- @group.users.each do |user|
  #chat-group-users.chat-group-user.clearfix.js-chat-member
    %input{ name: "group[user_ids][]", type: "hidden", value: "#{user.id}" }
    - unless user.name == current_user.name
      %p.chat-group-user__name
        = user.name
        .user-search-remove.chat-group-user__btn.chat-group-user__btn--remove.js-remove-btn 削除