.chat-main {
  float: right;
  overflow: hidden;
  width: calc(100% - 300px);
  height: 100vh;
  text-align: left;
  position: relative;

  &__header {
    box-sizing: border-box;
    padding-left: 40px;
    padding-right: 40px;
    height: 100px;
    border-bottom: 1px solid $Whisper;
  }

  &__header--left {
    float:left;
  }

  &__header--group-name {
    display: inline-block;
    padding: 35px 0px 15px;
    line-height: 10px;
    letter-spacing: 2px;
    text-align: left;
    font-size: 20px;
    color:#333333;
  }

  &__header--members {
    clear:both;
    font-size: 12px;
    color: $Nobel;
  }

  &__header--right {
    display: inline-block;
    float: right;
    margin-top: 28px;
    height: 40px;
  }

  a.btn {
    text-decoration: none;
    .btn-edit {
      display: inline-block;
      padding: 10px 20px 10px 20px;
      text-decoration: none;
      color: #67c5ff;
      border: solid 2px $MayaBlue;
      transition: .4s;
    }

    .btn-edit:hover {
      background: $MayaBlue;
      color: white;
    }
  }

  &__body {
    padding: 46px 40px 0px 40px;
    height: calc(100vh - 280px);
    background-color: $Snow;
    overflow: scroll;
  }

  &__body--name {
    display: inline-block;
    float: left;
    padding-right: 10px;
    padding-bottom:10px;
    font-size:16px;
    font-weight: bold;
    color: $Rhino;
  }

  &__body--time {
    display: inline-block;
    font-size:12px;
    color:$Nobel;
  }

  &__body--messages {
    clear: both;
    padding-bottom:40px;
  }

  &__footer {
    height: 90px;
    padding: 40px 40px 10px 40px;
    background: $Gainsboro;

    .footer__form {
      position: relative;
      box-sizing: border-box;

      input.message {
        display: inline-block;
        float: left;
        width: calc(100% - 130px);
        border: none;
        height: 50px;
        position: relative;
        padding-left:10px;
      }

      label.label {
        position: absolute;
        top: 13px;
        right: 130px;
      }
      input.image {
        display: none;
      }
    }

    &::placeholder {
      padding-left: 10px;
      font-size: 16px;
    }

    input.submit {
      display: inline-block;
      padding: 0.7em 1.3em;
      margin-left: 15px;
      text-decoration: none;
      color: white;
      background: $MayaBlue;
      border: solid 2px $MayaBlue;
    }
  }
} 