@import 'variable';
.notification {
  .notice{
    background-color: $SummerSky;
    text-align: center;
    line-height: 30px;
  }
  .alert{
    background-color:$orange;
    color:$white;
    text-align: center;
  }
} 