$Madison: #2f3e51 !default;
$Midnight: #253141 !default;
$Whisper: #eeeeee !default;
$Nobel: #999999 !default;
$MayaBlue: #67c5ff !default;
$Snow: #FAFAFA !default;
$Rhino: #434a54 !default;
$DarkGray: #aaaaaa !default;
$SummerSky: #38AEF0 !default;
$Gainsboro: #DDDDDD !default; 